/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat);


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #2bb673;
/*    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; */
    font-size:12px;
    margin:0px;
    padding:0px;
    position: relative;
    top: 100px;
    width: 100%;
}

figcaption {
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	text-align: center;
}

#actions {
	position:relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* Portrait layout (default)
.app {
    background:url(../img/logo.png) no-repeat; /* 170px x 200px */
                                                        /* position in the center of the screen */
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
    padding: 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin: 0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

*/

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#button-container {
    position: relative;
    width: 100%;
    top: -200px;
    left: 0;
}

button {
    display: block;
	margin: 0 auto;
	padding: 0;
	width: 200px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 40px;
	background: transparent;
	color: #fff;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }

